.projects-container {
  display: flex;
  flex-direction: row; /*Change when resolution changes*/
  width: 100%;
  position: relative;
}

/* Left sticky side */
.left-sticky-panel {
  width: 45%;
  height: 100vh; 
  position: sticky;
  top: 0;        

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
}

.section-title {
  font-size: 120px; 
  font-family: 'DM Serif Display', serif;
  color: rgb(69, 69, 254);
  margin-bottom: 20px;
}

.dynamic-titles-container {
  position: relative;
  height: 80px; 
}

.dynamic-title {
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  color: rgb(100, 113, 209);
  margin: 0;
  
  opacity: 0;
  transform: translateY(20px); 
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.dynamic-title.active {
  opacity: 1;
  transform: translateY(0);
}

/* Right side */
.projects-list {
  width: 55%;
  display: flex;
  flex-direction: column;
}

.image-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid rgb(100, 113, 209);
  border-radius: 20px;
  background-color: white;
  width: 450px;
  height: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
  transform: translateY(-15px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.project img {
  width: 150px;
  object-fit: contain;
}